/* .node--view-mode-teaser h2 a {
	color:red !important;
} */

/* .shortcut-wrapper {
  background-color: aquamarine;
}

.block__content {
  background-color: rgb(229, 133, 133);
  font-size: 3rem;
  line-height: 1.5;
} */
